@import '../../Styles/Utils/variables.scss';

.about-gallery_block {
    padding-top: 80px;
    color: $color_black;

    @media screen and (min-width:992px) {
        padding-top: 160px;
    }
}

.about-gallery_text {
    text-align: center;
}

.aboutgallery {
    font-size: 16px;
    color: $bgcolor_blue;

    &-txt {
        margin-bottom: 40px;
    }

    &-title {
        font-size: 22px;
    }
}

.about-gallery_content img {
    object-fit: cover;
}


.yarl__navigation_next {
    display: none;
}


.yarl__navigation_prev {
    display: none;
}

.yarl__button:hover {
    background-color: $bgcolor_blue;
}
