@import '../../Styles/Utils/variables.scss';

.about-block {
    color: $color_black;
    padding: 80px 0;
}

@media screen and (min-width:992px) {
    .about-container {
        display: flex;
        align-items: center;
    }
}

.about-title {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;

    @media screen and (min-width:992px) {
        font-size: 24px;
    }
}

@media screen and (min-width:992px) {
    .about-content {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: start !important;

        &_text {
            text-align: start !important;
            font-size: 18px;
        }
    }
}

.about-title::after {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    right: -30px;
    left: auto;
    width: 20px;
    border-top: 3px solid $color_gold;

    @media screen and (min-width:992px) {
        width: 60px;
        right: -90px;
    }
}

.about-title::before {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    left: -30px;
    right: auto;
    width: 20px;
    border-top: 3px solid $color_gold;

    @media screen and (min-width:992px) {
        width: 60px;
        left: -90px;
    }
}

.about-img {
    display: flex;
    margin: 50px auto 40px;
    width: 80%;
    float: none;
    justify-content: center ;

    @media screen and (min-width:992px) {
        width: 100%;
    }
    
}

.about-img img {
    width: 100%;
    height: auto;

    @media screen and (min-width:992px) {
        width: 80%;
    }
    @media screen and (min-width:1200px) {
        width: 60%;
    }
}