@import "../../Styles/Utils/variables.scss";

.bannermen-block {
    background-image: url("/images/expocosmetics-1324900_1280.jpg");
    background-size: cover;
    background-color: $bgcolor_blue;
    background-blend-mode: soft-light;
    background-position: center;
    color: $color-white;
    padding: 80px 0;

    @media screen and (min-width:992px) {
        padding: 160px 0px;
    }
}