@import '../Styles//Utils/variables.scss';

.contact-block {
    color: $color_black;
    padding: 80px 0;
}

.contact-text {
  @media screen and (min-width:992px) {
    text-align: center;
    font-size: 18px;
  }
}

.contact-title {
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
    font-weight: 400;
    letter-spacing: 2px;

    @media screen and (min-width:992px) {
      font-size: 24px;
    }
}

.contact-title::after {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    right: -30px;
    left: auto;
    width: 20px;
    border-top: 3px solid $color_gold;

    @media screen and (min-width:992px) {
      right: -90px;
      width: 60px;
  }
}

.contact-title::before {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    left: -30px;
    right: auto;
    width: 20px;
    border-top: 3px solid $color_gold;

    @media screen and (min-width:992px) {
      left: -90px;
      width: 60px;
  }
}

@media screen and (min-width:992px) {
  .formulaire-group {
    display: flex;
    justify-content: space-between;
  }

  .horaire h2 {
    margin-bottom: 80px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  border: 1px solid $color_gold;
  box-shadow: 0px 0px 6px 2px gray;
  padding: 25px;
  background-color: $color_gold;
  margin-top: 40px;

  @media screen and (min-width:992px) {
    width: 50%;
    margin-top: 0;
  }
}
  
  .form {
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 10px;
    color: $color_black;
    font-family: 'Oswald', sans-serif;

    @media screen and (min-width:992px) {
      font-size: 18px;
    }
  }
  
  input {
    padding: 5px;
    font-size: 16px;
    border-color: $color_black;
    background-color: $color_white;
    color: #000000;
    border: none;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    font-family: 'Oswald', sans-serif;
    
    &::placeholder {
      color: black;
      font-family: 'Oswald', sans-serif;
    }

    @media screen and (min-width:992px) {
      font-size: 18px;
    }
  }

  textarea {
    padding: 15px;
    height: 150px;
    font-size: 16px;
    background-color: $color_white;
    color: #000000;
    border: none;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    font-family: 'Oswald', sans-serif;

    &::placeholder {
      color: black;
      font-family: 'Oswald', sans-serif;
    }
  }
  
  input:focus {
    outline: none;
  }
  
  textarea:focus {
    outline: none;
  }
  

  .detail-content {
    margin-top: 40px;

    @media screen and (min-width:992px) {
      font-size: 18px;
      margin-top: 0;
    }
  }

  .detail-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .horaire {
    margin-top: 40px;

    @media screen and (min-width:992px) {
      margin-top: 80px;
  }
  }

  .succes-message {
    border: 2px solid $color_black;
    background-color: $color_gold;
    padding: 40px;
    border-radius: 5px;

    &_block {
      width: 100%;
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color_black;
      top: 50%;
    }
  }
  