@import '../Styles//Utils/variables.scss';

.contact-block {
    color: $color_black;
    padding: 80px 0;
}

.contact-title {
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
}

.contact-title::after {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    right: -30px;
    left: auto;
    width: 20px;
    border-top: 2px solid $bgcolor_blue;
}

.contact-title::before {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    left: -30px;
    right: auto;
    width: 20px;
    border-top: 2px solid $bgcolor_blue;
}