@import '../Styles/Utils/variables.scss';

.navbar-block {
    padding: 45px 0px;
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    color: $color_white;
    transition: all 0.5s ease-in-out;
    z-index: 999;
}

.navbar-logo {
    cursor: pointer;
    font-size: 24px;
}

.mobile-menu {
    cursor: pointer;
    display: flex;
    font-size: 24px;

    @media screen and (min-width:992px) {
        display: none;
    }
}

.navbar-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-list {
    position: absolute;
    right: 0;
    top: 65px;
    text-align: center;
    width: 100%;

    @media screen and (min-width:992px) {
        position: initial;
    }
}

.navbar-ul {
    font-size: 18px;

    @media screen and (min-width:992px) {
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

.background-banner {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.show-nav {
    opacity: 0.8;
    visibility: visible;
    transition: all 0.3s ease;
    background-color: $bgcolor_blue;
    padding: 40px 0;
}

.hide-nav {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    @media screen and (min-width:992px) {
        opacity: 1;
        visibility: visible;
        transition: none;
    }
}

.afix {
    padding: 0;
    background: $color_text;
    transition: all 0.5s ease-in-out;
}

.carousel-text {
    color: $color_white;
    text-align: center;
    position: relative;
    font-size: 32px;
}

.carrousel-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-carrousel {
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    text-shadow: 1px 3px 2px rgba(204, 204, 204, 0.7);

    @media screen and (min-width:768px) {
        width: 750px;
    }
    @media screen and (min-width:992px) {
        width: 970px;
    }
    @media screen and (min-width:1200px) {
        width: 1170px;
    }
    @media screen and (min-width:1440px) {
        width: 1370px;
    }
}