@import '../../Styles/Utils/variables.scss';

.gallery-block {
    padding: 80px 0px;
    color: $color_black;
}


    .gallery-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        gap: 25px;

        @media screen and (min-width:992px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        }
}

.gallery-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media screen and (min-width:992px) {
        width: auto;
    }
}

.gallery-title {
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
}

.gallery-title::after {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    right: -30px;
    left: auto;
    width: 20px;
    border-top: 2px solid $bgcolor_blue;
}

.gallery-title::before {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    left: -30px;
    right: auto;
    width: 20px;
    border-top: 2px solid $bgcolor_blue;
}

.gallery-button a {
    margin-top: 80px;
}

.gallery-button {
    border: 1px solid $bgcolor_blue;
    background-color: $color_white;
    color: $bgcolor_blue;
    text-align: center;
    width: 120px;
    border-radius: 100%;
    font-size: 24px;

    &:hover {
        background-color: $bgcolor_blue;
        color: $color_white;
    }
}

.gallery-card img {
    width: 100%;
    border-radius: 100%;
    transition: all 0.3s ease-in;

    &:hover {
        transition: all 0.3s ease-in;
        transform: rotateZ(10deg);
    }

    @media screen and (min-width:992px) {
        width: 400px;
    }
}