@import '../../Styles/Utils/variables.scss';

.prestation-block {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../images/Coiffeuse-bg-1.jpg");
    padding: 80px 0px;
    color: $color_black;

    @media screen and (min-width:992px) {
        padding: 160px 0px;
    }
}

.prestation-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;

    @media screen and (min-width:992px) {
        font-size: 24px;
    }
}

.prestation-title::after {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    right: -30px;
    left: auto;
    width: 20px;
    border-top: 3px solid $color_gold;

    @media screen and (min-width:992px) {
        right: -90px;
        width: 60px;
    }
}

.prestation-title::before {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    left: -30px;
    right: auto;
    width: 20px;
    border-top: 3px solid $color_gold;

    @media screen and (min-width:992px) {
        left: -90px;
        width: 60px;
    }
}

article img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: top;
    border-radius: 5%;
}

.card-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 70px;

    @media screen and (min-width:992px) {
        flex-direction: row;
    }
}

.card-prestation {
    transition: 0.6s linear;


    &:hover {
        perspective: 100px;
        transform: rotateY(180deg);
        transition: 0.6s linear;
        transform-style: preserve-3d;
    }

    @media screen and (min-width:992px) {
        width: 33%;
    }
}

.card-hover {
    position: absolute;
    color: $color_white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    font-weight: 800;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    text-align: center;
    width: 100%;
    height: 93%;
    transform: rotateY(180deg);
    transition: 0.4s ease-in-out;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    &:hover {
        opacity: 1;
    }
}

.border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 92%;
    height: 90%;
    border: 4px solid $color_white;
    border-radius: 5%;
}

.border h4 {
    font-size: 24px;
}

.title-card {
    background-color: $color_white;
    text-align: center;
}